.sidebar {

  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
  height: calc(100% - 30px);
  overflow-y: auto;
  background-color: #292929;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px 0;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.04);
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: #292929;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}

.nav,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.item {
  text-align: center;
  align-items: center;
  gap: 12px;
  padding: 10px 0 10px 0;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  text-decoration: none;
  color: #b3b8c2;
  transition: background 0.15s ease, color 0.15s ease, transform 0.05s;
}

.item:hover {
  background: #2a2f38;
  /* subtle hover */
  color: #e6e9ef;
}

.item.active:hover {
  background: #0648bb;
  /* subtle hover */
  color: #e6e9ef;
}

.active {
  background: #0954D5;
  color: #ffffff;
}

.icon {
  font-size: 18px;
  display: inline-flex;
  width: 22px;
  /* aligns icons nicely */
  justify-content: center;
}

.text {
  font-size: 14px;
  line-height: 1;
}

.divider {
  width: 100%;
}