.loginContainer {
  display: flex;
  min-height: 100vh;
  font-family: sans-serif;
}

.leftSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100vh;
  object-fit: unset;
}

.logoParent {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 12px;
}

.logo {
  width: 200px;
}

.rightSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: -5%; */
}

.loginBox {
  max-width: 450px;
  width: 100%;
  padding: 20px;
}

.loginBox h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.loginBox p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #121212;
  text-align: center;
}

.options {
  font-size: 14px;
  margin-top: -10px;
  padding-bottom: 20px;
}

.loginButton {
  width: 100%;
  padding: 12px;
  background-color: #009dff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: #007fd3;
}


.parentForgotReset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .loginContainer {
    flex-direction: column;
    /* height: 100%; */
  }

  .leftSection {
    display: none;
  }

  .rightSection {
    /* padding: 40px 20px; */
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.forgotPass {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: -0.5px;
  text-align: right;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #0A0404;
  cursor: pointer;
  margin-bottom: 4px;
}

.mfaImageContainer{
  display: flex;
  justify-content: center;
}

.verificationHeader{
  font-size: 16px;
  font-weight: 600;
}