.root {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 24px;
}

.root input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Track */
.track {
  position: absolute;
  inset: 0;
  background-color: #e65353;
  border-radius: 31px;
  transition: background-color 0.25s ease;
}

/* Thumb */
.thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  box-shadow:
    0 3px 8px rgba(0, 0, 0, 0.15),
    0 3px 1px rgba(0, 0, 0, 0.06);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* ON STATE */
.root input:checked + .track {
  background-color: #34c759;
}

.root input:checked + .track .thumb {
  transform: translateX(20px);
}

/* Press effect (iOS feel) */
.root:active .thumb {
  width: 20px;
}
